@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}

body {
  font-family: "Roboto", "sans-serifl";
}

.img-wra {
  background-image: url(../images/fon.svg);
  background-repeat: no-repeat;
  width: auto;
  height: 899px;
}

.header {
  height: 101px;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.blok1 {
  display: flex;
  justify-content: space-between;
  width: 1232px;
  height: 46px;
}

.logo {
  width: 205px;
  height: 40px;
}

.sprite {
  background-image: url(../images/grou.svg);
  background-repeat: no-repeat;
}

.img1 {
  width: 205px;
  height: 40px;
  display: flex;
  background-position: 0px 0px;
  flex-flow: row wrap;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-text {
  font-weight: 400;
  font-size: 24px;
  margin-right: 24px;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.icon1 {
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.icon2 {
  width: 40px;
  height: 40px;
}

.title {
  display: flex;
  margin-left: 915px;
  width: 50px;
  height: 4px;
  background-color: #f5bd41;
  border: none;
}

.blok2 {
  width: 1232;
  height: 487px;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.Text {
  display: flex;
  margin-left: 360px;
  margin-top: 202px;
  margin-bottom: 145px;
}

.capital-text {
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.text-form {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 24px;
  margin-left: 365px;
  margin-right: 221px;
}

.text-form2 {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin: 24px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

input {
  height: 64px;
  width: 100%;
}

input[type="text"] {
  border-radius: 8px 0px 0px 8px;
  width: 467px;
}

input[type="date"] {
  width: 259px;
  border-radius: 8px;
  border-width: 3px;
  border-color: rgba(245, 189, 65, 1);
}

select {
  width: 305px;
  height: 64px;
}

button {
  width: 192px;
  height: 64px;
  border-radius: 8px;
  background-color: rgba(48, 119, 198, 1);
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.widget_b {
  display: flex;
  margin-top: 120px;
}

.btn_google {
  width: 135px;
  height: 40px;
  margin-right: 16px;
}

.icon_g {
  width: 135px;
  height: 40px;
}
.btn_app {
  width: 118px;
  height: 39px;
}

.icon_a {
  width: 118px;
  height: 39px;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.offers-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.text-center {
  color: rgba(56, 56, 56, 1);
  font-weight: 500;
  text-align: center;
  padding-top: 120px;
  margin: 0 auto;
}

.title-underline {
  border: none;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background-color: #f5bd41;
  margin-bottom: 80px;
}

.offer-heading_row {
  display: flex;
  flex-wrap: nowrap;
}

.offer_column-3 {
  width: 25%;
  text-align: center;
  padding-bottom: 122px;
  flex-wrap: wrap;
}

.icon-offer-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.icon3 {
  width: 75px;
  height: 92px;
}

.icon4 {
  width: 84px;
  height: 84px;
}

.icon5 {
  width: 100px;
  height: 67px;
}

.icon6 {
  width: 92px;
  height: 84px;
}

.item-text {
  font-size: 24px;
  line-height: 28px;
  color: rgba(56, 56, 56, 1);
  align-items: center;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  background: #10367c;
}

.footer-logo__row {
  color: rgba(255, 255, 255, 1);
  display: none;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
  color: #ffffff;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  margin: 0;
}

.footer-list__row li {
  list-style: none;
  margin-bottom: 24px;
}

.footer-list__row {
  display: flex;
  padding-top: 120px;
  padding-bottom: 64px;
  padding-left: 104px;
  flex-wrap: wrap;
}

.footer-list__col-2 {
  flex-basis: 33.333%;
}

.footer-copyright {
  padding-bottom: 120px;
  padding-top: 64px;
  padding-left: 104px;
}

h3 {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 328px;
  }

  .offers-list {
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  .offers {
    padding-top: 24px;
  }

  .like {
    width: 64px;
    height: 58px;
  }

  .messag {
    width: 58px;
    height: 58px;
  }

  .support {
    width: 52px;
    height: 64px;
  }

  .computer {
    width: 70px;
    height: 47px;
  }

  .offer_column-3 {
    width: 100%;
    height: 104px;
    margin: 32px 0;
    padding: 0;
  }

  .offer-heading_row {
    flex-wrap: wrap;
  }

  .icon-offer-wrapper {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
  }

  .offers h2::after {
    display: none;
  }

  .offer-heading_row {
    font-size: 15px;
    line-height: 18px;
  }

  .footer-logo__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .footer_item {
    display: none;
  }

  a {
    text-decoration: underline;
    text-align: center;
  }

  .footer-list__row {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .footer-list__col-2 {
    text-align: center;
    flex-basis: 30%;
  }

  .footer-copyright {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    padding-bottom: 40px;
    padding-top: 32px;
    padding-left: 0;
    text-align: center;
    line-height: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1232px) {
  .offer-heading_row {
    flex-wrap: wrap;
  }
  .container {
    max-width: 90%;
  }

  .offer_column-3 {
    height: 100%;
    flex-basis: 50%;
  }
}
